<div class="col-md-12 mt-2">

    <h1> {{page_title}} </h1>
    <p *ngIf="status != 'success'">Crea una nueva categoría para el blog</p>
    <hr />

    <!-- Mensaje de exito o fracaso en la actualización -->
    <div class="alert alert-success" *ngIf="status == 'success'">
        La categoría se ha creado correctamente
    </div>
    <div class="alert alert-danger" *ngIf="status == 'error'">
        No se han podido crear la categoría, intentalo más tarde
    </div>

    <!-- Formulario para crear categorías -->
    <form #categoryNewForm="ngForm" (ngSubmit)="onSubmit(categoryNewForm)" class="col-md-5 ml-0 pl-0 pb-3">

        <div class="form-group">
            <label for="name">Nombre</label>
            <input name="name" type="text" class="form-control" #name="ngModel" [(ngModel)]="category.name" required /> 
            <small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">
                Debe poner el nombre de la categoría
            </small>
        </div>

        <br/>

        <input type="submit" value="Crear categoría" class="btn btn-success" [disabled]="!categoryNewForm.form.valid" />

    </form>
    <!-- Fin de Formulario crear categorías -->

</div>