<p>home works!</p>


<ul>
  <li class="text" *ngFor="let item of items">
    {{item.name}}
  </li>
</ul>


<form #newForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-5 ml-0 pl-0 pb-3">
  <label for="rama">Titulo</label>
  <input name="rama" type="text" class="form-control" #rama="ngModel" [(ngModel)]="matricula.rama" required />
  <small *ngIf="!rama.valid && rama.touched" class="invalid-feedback d-block">
    El titulo es un campo requerido
  </small>
  <hr />


  <label for="provincia">Titulo</label>
  <input name="provincia" type="text" class="form-control" #provincia="ngModel" [(ngModel)]="matricula.provincia" required />
  <small *ngIf="!provincia.valid && provincia.touched" class="invalid-feedback d-block">
    El titulo es un campo requerido
  </small>
  <hr />


  <label for="alumno_pre">Titulo</label>
  <input name="alumno_pre" type="text" class="form-control" #alumno_pre="ngModel" [(ngModel)]="matricula.alumno_pre" required />
  <small *ngIf="!alumno_pre.valid && alumno_pre.touched" class="invalid-feedback d-block">
    El titulo es un campo requerido
  </small>
  <hr />


  <label for="modalidad">Titulo</label>
  <input name="modalidad" type="text" class="form-control" #modalidad="ngModel" [(ngModel)]="matricula.modalidad" required />
  <small *ngIf="!modalidad.valid && modalidad.touched" class="invalid-feedback d-block">
    El titulo es un campo requerido
  </small>
  <hr />


  <label for="horario">Titulo</label>
  <input name="horario" type="text" class="form-control" #horario="ngModel" [(ngModel)]="matricula.horario" required />
  <small *ngIf="!horario.valid && horario.touched" class="invalid-feedback d-block">
    El titulo es un campo requerido
  </small>
  <hr />


  <label for="tarifas">Titulo</label>
  <input name="tarifas" type="text" class="form-control" #tarifas="ngModel" [(ngModel)]="matricula.tarifas" required />
  <small *ngIf="!tarifas.valid && tarifas.touched" class="invalid-feedback d-block">
    El titulo es un campo requerido
  </small>
  <hr />


  <label for="name">Titulo</label>
  <input name="name" type="text" class="form-control" #name="ngModel" [(ngModel)]="matricula.name" required />
  <small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">
    El titulo es un campo requerido
  </small>
  <hr />


  <label for="dni">Titulo</label>
  <input name="dni" type="text" class="form-control" #dni="ngModel" [(ngModel)]="matricula.dni" required />
  <small *ngIf="!dni.valid && dni.touched" class="invalid-feedback d-block">
    El titulo es un campo requerido
  </small>
  <hr />


  <label for="email">Titulo</label>
  <input name="email" type="text" class="form-control" #email="ngModel" [(ngModel)]="matricula.email" required />
  <small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">
    El titulo es un campo requerido
  </small>
  <hr />


  <label for="comunidad_examen">Titulo</label>
  <input name="comunidad_examen" type="text" class="form-control" #comunidad_examen="ngModel" [(ngModel)]="matricula.comunidad_examen" required />
  <small *ngIf="!comunidad_examen.valid && comunidad_examen.touched" class="invalid-feedback d-block">
    El titulo es un campo requerido
  </small>
  <hr />


  <label for="direccion_user">Titulo</label>
  <input name="direccion_user" type="text" class="form-control" #direccion_user="ngModel" [(ngModel)]="matricula.direccion_user" required />
  <small *ngIf="!direccion_user.valid && direccion_user.touched" class="invalid-feedback d-block">
    El titulo es un campo requerido
  </small>
  <hr />


  <label for="localidad_user">Titulo</label>
  <input name="localidad_user" type="text" class="form-control" #localidad_user="ngModel" [(ngModel)]="matricula.localidad_user" required />
  <small *ngIf="!localidad_user.valid && localidad_user.touched" class="invalid-feedback d-block">
    El titulo es un campo requerido
  </small>
  <hr />


  <label for="provincia_user">Titulo</label>
  <input name="provincia_user" type="text" class="form-control" #provincia_user="ngModel" [(ngModel)]="matricula.provincia_user" required />
  <small *ngIf="!provincia_user.valid && provincia_user.touched" class="invalid-feedback d-block">
    El titulo es un campo requerido
  </small>
  <hr />


  <label for="cp">Titulo</label>
  <input name="cp" type="number" class="form-control" #cp="ngModel" [(ngModel)]="matricula.cp" required />
  <small *ngIf="!cp.valid && cp.touched" class="invalid-feedback d-block">
    El titulo es un campo requerido
  </small>
  <hr />


  <label for="info_legal">Titulo</label>
  <input name="info_legal" type="text" class="form-control" #info_legal="ngModel" [(ngModel)]="matricula.info_legal" required />
  <small *ngIf="!info_legal.valid && info_legal.touched" class="invalid-feedback d-block">
    El titulo es un campo requerido
  </small>
  <hr />


  <label for="protec_datos">Titulo</label>
  <input name="protec_datos" type="text" value=true class="form-control" #protec_datos="ngModel" [(ngModel)]="matricula.protec_datos" required />
  <small *ngIf="!protec_datos.valid && protec_datos.touched" class="invalid-feedback d-block">
    El titulo es un campo requerido
  </small>
  <hr />


  <label for="pago">Titulo</label>
  <input name="pago" type="text" class="form-control" #pago="ngModel" [(ngModel)]="matricula.pago" required />
  <small *ngIf="!pago.valid && pago.touched" class="invalid-feedback d-block">
    El titulo es un campo requerido
  </small>
  <hr />


 

  
  <input type="submit" value="Guardar la publicación" class="btn btn-success" [disabled]="!newForm.form.valid" />
</form>