body {
    font-family: Helvetica, sans-serif;
    color: #567193;
    background-color: black;
}

#all_container_form, #all_container_home {
    min-height: 726px;
    background-color: #0f3b69;
}

#all_container_home {
    color: white !important;
}

.btn-info {
    color: #fff;
    background-color: #0BC6FE !important;
    border-color: #0BC6FE !important;
}

.text-info {
    color: #0BC6FE !important;
    cursor: pointer;
}

/* Home y End */

#all_container_home img {
    width: 350px;
}

/* Form.Component */

#lateral_menu {
    position: relative;
    color: white;
    background-color: #0f3b69;
}

 

#contenedor_imagen_form img {
    width: 100%;
}


#container_modYhor, #container_tarifas, #container_datosPersonales, #container_direccion, #container_pago { margin-bottom: 5rem; display: none;}

/* Formulario */

.form_part {
    position: relative;
    height: 100%;
    margin: auto;
    margin-top: 2rem;
    padding-bottom: 2rem;
}

.botonera_inferior {
    position: absolute;
    bottom: -10px;
    left: 0px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-bottom: 3rem;
}

form label:focus, form label:active {
    background: black;
    color: #fbfcfc;
}

input:checked+label {
    /* Para dejar los label de los radio que hemos marcado */
    box-shadow: 0 0 0.19rem 0.2rem rgba(38, 143, 255, 0.5);
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

select:focus>option[value=""] {
    /* Para mostrar la opción de ejemplo en los select del horario y al pinchar no se vean */
    display: none;
}