<ul>
    <li class="text" *ngFor="let item of items">
      {{item.name}}
    </li>
  </ul>
  <hr/>  <hr/>  <hr/>  <hr/>  <hr/>  

<select >
  <option></option>
  <option *ngFor="let item of items">{{item.name}}</option>
</select>











<form #newForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-4 mt-4 ml-0 pl-3 pb-3 needs-validation">



  <!-- especialización -->

  <div class="form-group">
    <label for="rama">rama</label>
    <select name="rama" type="text" class="form-control" #rama="ngModel" [(ngModel)]="matricula.rama" required>
      <option value="" readonly class="text text-secondary">Ej: Maestros - Audición y lenguaje </option>
      <option *ngFor="let rama of ramas" value="{{rama.rama_description}}" class="fw-bold ">{{rama.rama_description}}</option>
    </select>
  </div>
  
  <small *ngIf="!rama.valid && rama.touched" class="invalid-feedback d-block">
    Este es un campo requerido
  </small>
  <hr />
  
  
  <div class="form-group">
    <label for="provincia">provincia</label>
    <select name="provincia" type="text" class="form-control" #provincia="ngModel" [(ngModel)]="matricula.provincia" required>
      <option value="" readonly class="text text-secondary">Ej: Madrid </option>
      <option *ngFor="let provincia of provincias" value="{{provincia.city}}" class="fw-bold ">{{provincia.city}}</option>
    </select>
  </div>
  
  <small *ngIf="!provincia.valid && provincia.touched" class="invalid-feedback d-block">
    Este es un campo requerido
  </small>
  <hr />
  
    <label for="provincia">provincia</label>
    <input name="provincia" type="text" class="form-control" #provincia="ngModel" [(ngModel)]="matricula.provincia" required />
    <small *ngIf="!provincia.valid && provincia.touched" class="invalid-feedback  ">
      El provincia es un campo requerido
    </small>
    <hr />
  
  
    <label for="alumno_pre">alumno_pre</label>
    <input name="alumno_pre" type="text" class="form-control" #alumno_pre="ngModel" [(ngModel)]="matricula.alumno_pre" required />
    <small *ngIf="!alumno_pre.valid && alumno_pre.touched" class="invalid-feedback d-block">
      El alumno_pre es un campo requerido
    </small>
    <hr />
  


      <!-- modalidad y horario -->
  
    <label for="modalidad">modalidad</label>
    <input name="modalidad" type="text" class="form-control" #modalidad="ngModel" [(ngModel)]="matricula.modalidad" required />
    <small *ngIf="!modalidad.valid && modalidad.touched" class="invalid-feedback d-block">
      El modalidad es un campo requerido
    </small>
    <hr />
  
  
    <label for="horario">horario</label>
    <input name="horario" type="text" class="form-control" #horario="ngModel" [(ngModel)]="matricula.horario" required />
    <small *ngIf="!horario.valid && horario.touched" class="invalid-feedback d-block">
      El horario es un campo requerido
    </small>
    <hr />
  


      <!-- tarifas -->
  
    <label for="tarifas">tarifas</label>
    <input name="tarifas" type="text" class="form-control" #tarifas="ngModel" [(ngModel)]="matricula.tarifas" required />
    <small *ngIf="!tarifas.valid && tarifas.touched" class="invalid-feedback d-block">
      El tarifas es un campo requerido
    </small>
    <hr />
  
  


  <!-- datos personales -->

    <label for="name">name</label>
    <input name="name" type="text" class="form-control" #name="ngModel" [(ngModel)]="matricula.name" required />
    <small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">
      El name es un campo requerido
    </small>
    <hr />
  
  
    <label for="dni">dni</label>
    <input name="dni" type="text" class="form-control" #dni="ngModel" [(ngModel)]="matricula.dni" required />
    <small *ngIf="!dni.valid && dni.touched" class="invalid-feedback d-block">
      El dni es un campo requerido
    </small>
    <hr />

      
    <label for="movil">movil</label>
    <input name="movil" type="tel" class="form-control" #movil="ngModel" [(ngModel)]="matricula.movil" required />
    <small *ngIf="!movil.valid && movil.touched" class="invalid-feedback d-block">
      El movil es un campo requerido
    </small>
    <hr />
  
  
    <label for="email">email</label>
    <input name="email" type="text" class="form-control" #email="ngModel" [(ngModel)]="matricula.email" required />
    <small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">
      El email es un campo requerido
    </small>
    <hr />
  



    <!-- dirección usuario -->
    <label for="comunidad_examen">comunidad_examen</label>
    <input name="comunidad_examen" type="text" class="form-control" #comunidad_examen="ngModel" [(ngModel)]="matricula.comunidad_examen" required />
    <small *ngIf="!comunidad_examen.valid && comunidad_examen.touched" class="invalid-feedback d-block">
      El comunidad_examen es un campo requerido
    </small>
    <hr />
  
  
    <label for="direccion_user">direccion_user</label>
    <input name="direccion_user" type="text" class="form-control" #direccion_user="ngModel" [(ngModel)]="matricula.direccion_user" required />
    <small *ngIf="!direccion_user.valid && direccion_user.touched" class="invalid-feedback d-block">
      El direccion_user es un campo requerido
    </small>
    <hr />
  
  
    <label for="localidad_user">localidad_user</label>
    <input name="localidad_user" type="text" class="form-control" #localidad_user="ngModel" [(ngModel)]="matricula.localidad_user" required />
    <small *ngIf="!localidad_user.valid && localidad_user.touched" class="invalid-feedback d-block">
      El localidad_user es un campo requerido
    </small>
    <hr />
  
  
    <label for="provincia_user">provincia_user</label>
    <input name="provincia_user" type="text" class="form-control" #provincia_user="ngModel" [(ngModel)]="matricula.provincia_user" required />
    <small *ngIf="!provincia_user.valid && provincia_user.touched" class="invalid-feedback d-block">
      El provincia_user es un campo requerido
    </small>
    <hr />
  
  
    <label for="cp">cp</label>
    <input name="cp" type="number" class="form-control" #cp="ngModel" [(ngModel)]="matricula.cp" required />
    <small *ngIf="!cp.valid && cp.touched" class="invalid-feedback d-block">
      El cp es un campo requerido
    </small>
    <hr />
  
  


      <!-- Pago -->
   
  
  
    <label for="pago">pago</label>
    <input name="pago" type="text" class="form-control" #pago="ngModel" [(ngModel)]="matricula.pago" required />
    <small *ngIf="!pago.valid && pago.touched" class="invalid-feedback d-block">
      El pago es un campo requerido
    </small>
    <hr />
  
   <label for="info_legal">info_legal</label>
    <input name="info_legal" type="text" class="form-control" #info_legal="ngModel" [(ngModel)]="matricula.info_legal" required />
    <small *ngIf="!info_legal.valid && info_legal.touched" class="invalid-feedback d-block">
      El pago es un campo requerido
    </small>
    <hr />
  
  
    <label for="protec_datos">protec_datos</label>
    <input name="protec_datos" type="text" value=true class="form-control" #protec_datos="ngModel" [(ngModel)]="matricula.protec_datos" required />
    <small *ngIf="!protec_datos.valid && protec_datos.touched" class="invalid-feedback d-block">
      El protec_datos es un campo requerido
    </small>
    <hr />
   
  
    
    <input type="submit" value="Guardar la publicación" class="btn btn-success" [disabled]="!newForm.form.valid" />
  </form>



